{% extends 'layout.html' %}
{% block title %} Select workout {% endblock %}
{% block body %}
<form action="{{ url_for('form') }}" method="POST">
        <label>Training type:</label><br>
    <select name="season">
        <option value="Offseason" selected>Offseason</option>
        <option value="Pre-Contest">Pre-Contest</option>
    </select>
    <br>
    <label>Training week now is</label><br>
    <select name="week">{% for i in range(1,11) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <br>
    <label>Main move for this session:</label><br>
    <select name="movement">
        <option value='Squat'>Squat</option>
        <option value='Bench Press'>Bench Press</option>
        <option value='Deadlift'>Deadlift</option>
        <option value='Buff&Fluff'>Buff&Fluff</option>
    </select>
    <button type="submit">Start Workout</button>

</form>
{% endblock %}