{% extends 'layout.html' %}
{% block title %} Log form {% endblock %}
{% block body %}
Chart type: {{ training_type }}. Training week #{{ week }}. Training day: {{ idag.day }}.{{ idag.month }}.{{ idag.year }}<br>
<form action="{{ url_for('form_save') }}" method="POST">
    <!-- Hidden
    week#
    training type
    -->
    <input type="hidden" name="week" value="{{ week }}">
    <input type="hidden" name="training_type" value="{{ training_type }}">
    <!-- DATE PICKER. there is no one standard, need to dedicate a week to figure this out.
    <label for="trainday">Training Day:</label>
    <input type="date" id="trainday" name="trainday" value="{{ idag.year }}-02-{{ idag.day }}">
    Training week #{{ week }}. -->

    <div class="container divs">
        <label for="i0">Main move</label>
        <select id="i0" name="mm" class="custom-select list1">
            <option value="{{ move }}" selected>{{ move }}</option>
        </select>

        <div class="row">
            <div class="col">
                <div>
                    <label for="i1">Reps</label>
                    <input name="mm_reps" type="number" id="i1" class="form-control" value="{{main_move_reps}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i2">Sets</label>
                    <input name="mm_sets" type="number" id="i2" class="form-control" value="{{main_move_sets}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i3">RPE</label>
                    <select name="mm_rpee" id="i3" class="custom-select list1">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="{{ main_move_rpe }}" selected>{{ main_move_rpe }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i4">Weight</label>
                    <input name="mm_weig" id="i4" type="number" class="form-control" value="{% if w %}{{w.main_move_weight}}{% else %}20{% endif %}">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container divs">
        <label for="i5">Assistance Exercise A</label>
            <select name="ae_a" id="i5" class="custom-select list1">
                {% for ex in assistance_a %}
                <option value='{{ ex }}'>{{ ex }}</option>
                {% endfor %}
                {% if w %}<option value="{{ w.assa_move }}" selected>{{ w.assa_move }}</option>{% endif %}
            </select>

        <div class="row">
            <div class="col">
                <div>
                    <label for="i6">Reps</label>
                    <input name="ae_a_reps" id="i6" type="number" class="form-control" value="{{assa_move_reps}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i7">Sets</label>
                    <input name="ae_a_sets" id="i7" type="number" class="form-control" value="{{assa_move_sets}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i8">RPE</label>
                    <select name="ae_a_rpee" id="i8" class="custom-select list1">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="{{ assa_move_rpe }}" selected>{{ assa_move_rpe }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i9">Weight</label>
                    <input name="ae_a_weig" id="i9" type="number" class="form-control" value="{% if w %}{{w.assa_move_weight}}{% else %}20{% endif %}">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container divs">
        <label for="i10">Assistance Exercise B.1</label>
            <select id="i10" name="ae_b1" class="custom-select list1">
                {% for ex in assistance_b %}
                <option value='{{ ex }}'>{{ ex }}</option>
                {% endfor %}
                {% if w %}<option value="{{w.assb1_move}}" selected>{{ w.assb1_move }}</option>{% endif %}
            </select>

        <div class="row">
            <div class="col">
                <div>
                    <label for="i11">Reps</label>
                    <input name="ae_b1_reps" id="i11" type="number" class="form-control" value="{{assb1_move_reps}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i12">Sets</label>
                    <input name="ae_b1_sets" id="i12" type="number" class="form-control" value="{{assb1_move_sets}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i13">RPE</label>
                    <select name="ae_b1_rpee" id="i13" class="custom-select list1">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="{{ assb1_move_rpe }}" selected>{{ assb1_move_rpe }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i14">Weight</label>
                    <input name="ae_b1_weig" id="i14" type="number" class="form-control" value="{% if w %}{{w.assb1_move_weight}}{% else %}20{% endif %}">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container divs">
        <label for="i15">Assistance Exercise B.2</label>
            <select id="i15" name="ae_b2" class="custom-select list1">
                {% for ex in assistance_b %}
                <option value='{{ ex }}'>{{ ex }}</option>
                {% endfor %}
                {% if w %}<option value="{{w.assb2_move}}" selected>{{ w.assb2_move }}</option>{% endif %}
            </select>

        <div class="row">
            <div class="col">
                <div>
                    <label for="i16">Reps</label>
                    <input name="ae_b2_reps" id="i16" type="number" class="form-control" value="{{assb2_move_reps}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i17">Sets</label>
                    <input name="ae_b2_sets" id="i17" type="number" class="form-control" value="{{assb2_move_sets}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i18">RPE</label>
                    <select name="ae_b2_rpee" id="i18" class="custom-select list1">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="{{ assb2_move_rpe }}" selected>{{ assb2_move_rpe }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i19">Weight</label>
                    <input name="ae_b2_weig" id="i19" type="number" class="form-control" value="{% if w %}{{w.assb2_move_weight}}{% else %}20{% endif %}">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container divs">
        <label for="i20">Assistance Exercise C.1</label>
            <select id="i20" name="ae_c1" class="custom-select list1">
                {% for ex in assistance_c %}
                <option value='{{ ex }}'>{{ ex }}</option>
                {% endfor %}
                {% if w %}<option value="{{w.assc1_move}}" selected>{{ w.assc1_move }}</option>{% endif %}
            </select>

        <div class="row">
            <div class="col">
                <div>
                    <label for="i21">Reps</label>
                    <input name="ae_c1_reps" id="i21" type="number" class="form-control" value="{{assc1_move_reps}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i22">Sets</label>
                    <input name="ae_c1_sets" id="i22" type="number" class="form-control" value="{{assc1_move_sets}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i23">RPE</label>
                    <select name="ae_c1_rpee" id="i23" class="custom-select list1">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="{{ assc1_move_rpe }}" selected>{{ assc1_move_rpe }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i24">Weight</label>
                    <input name="ae_c1_weig" id="i24" type="number" class="form-control" value="{% if w %}{{w.assc1_move_weight}}{% else %}20{% endif %}">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container divs">
        <label for="i25">Assistance Exercise C.2</label>
            <select id="i25" name="ae_c2" class="custom-select list1">
                {% for ex in assistance_c %}
                <option value='{{ ex }}'>{{ ex }}</option>
                {% endfor %}
                {% if w %}<option value="{{w.assc2_move}}" selected>{{ w.assc2_move }}</option>{% endif %}
            </select>

        <div class="row">
            <div class="col">
                <div>
                    <label for="i26">Reps</label>
                    <input name="ae_c2_reps" id="i26" type="number" class="form-control" value="{{assc2_move_reps}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i27">Sets</label>
                    <input name="ae_c2_sets" id="i27" type="number" class="form-control" value="{{assc2_move_sets}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i28">RPE</label>
                    <select name="ae_c2_rpee" id="i28" class="custom-select list1">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="{{ assc2_move_rpe }}" selected>{{ assc2_move_rpe }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="i29">Weight</label>
                    <input name="ae_c2_weig" id="i29" type="number" class="form-control" value="{% if w %}{{w.assc2_move_weight}}{% else %}20{% endif %}">
                </div>
            </div>
        </div>
    </div>
    <br>
    <textarea id="daynotes" name="daynotes" rows="3" maxlength="4000">
        Make a note.
    </textarea>
    <br>
    <input type="submit" class="btn btn-primary" value="Log workout">
</form>
{% endblock %}