{% extends 'layout.html' %}
{% block title %} Login {% endblock %}
{% block body %}
Hello Powerlifters!<br>
<br>
This app helps to log workouts based on 10/20/Life method. <br>
All credits goes to Brian Carroll for the methodology.<br>
<br>
All workout charts are prefilled with suggested sets, reps <br>
and RPE based on training week, as suggested in book "10/20/L".<br>
<br>
On your first workout select assistance exercises and <br>
stick with them for the rest of 10 week training cycle.<br>
<br>
Adjust weight on each training day.<br>
{% endblock %}